<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>YouTube Surfing</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/surf.css" />
<meta name="description" content="Surf YouTube">
<meta name="keywords" content="youtube surfing, gregory mazurek, youtube">
<meta property="og:title" content="YouTube Surfing"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://y.gregorymazurek.com/images/logo.png"/>
<meta property="og:url" content="http://y.gregorymazurek.com/"/>
<meta property="og:site_name" content="YouTube Surfing"/>
<script src="/javascripts/surf.js" type="text/javascript"></script>
<script src="http://www.google.com/jsapi?key=ABQIAAAAY4Vy1OJ9ROh5THXrRfdjMBRPshRY9-vSJHcdiwAak3YttmBeehRHCjEAUNB1VKz9mxYCsoRodkSlgA" type="text/javascript"></script>
<script type="text/javascript">
 google.load("swfobject", "2.1");
 google.load("jquery", "1.4.2");
</script>
<title>Surfs Up!</title>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18580351-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body onLoad="getList()">
	<div id="wrapper">
	 <div id="header">Surf YouTube</div>
	 <div id="instructions">Watch the first 20 seconds of today's most popular videos. If you want to watch the entire video, click on it before 20 seconds passes. The speed at which the video loads will depend on your internet connection.</div>
	 <div id="now_playing"></div>
	 <div id="previously_playing"></div>
	 <div id="content">
	  <div id="videoDiv">
	   Loading.... This might take a minute.
	  </div>
	 </div>
	 <div id="socialButtons">
	  <div id="fbLikeButton" style="float:left;">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fy.gregorymazurek.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
	  </div>
	  <div id="twTweetButton" style="float:right;">
	    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="GregoryMazurek" data-url="http://y.gregorymazurek.com">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	  </div>
	  <div style="clear:both;"></div>
	 </div>
	 
	 <div id="footer">
	    <a href="http://www.gregorymazurek.com">Brought to you by Gregory Mazurek on Thursday, September 16, 2010</a>
	 </div>
	</div>
</body>
</html>